.header__lang-link {
    font-size: 24px;
    /* identical to box height, or 117% */
    text-align: right;
    color: #ffffff;
    margin-left: 18px;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    text-decoration: underline;
  }
  
  button:focus {
    outline: none;
  }
  
  button:disabled {
    text-decoration: none;
  }