.cover__title {
  font-weight: 900;
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  margin-top: 245px;
}
@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 33px;
  }
}
