.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 24px;
  padding-top: 92px;
  max-width: 1184px;
}

@media (max-width: 320px) {
  .footer {
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-left: 16px;
    padding-top: 64px;
  }
}
