.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 484px;
  align-items: flex-start; 
  height: 46px;
  vertical-align: text-bottom;
}

.place__website:first-child {
  align-self: end;
}

@media (max-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}

@media (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media (max-width: 320px) {
  .place__website {
    max-width: 288px;
    padding: 0 16px;
  }
}
